.Projector {
	width: 100vw;
	height: 100vh;
}

.EdgeMix {
	width: 100vw;
	height: 100vh;
	background-size: cover;
}

a {
	color: white;
	font-size: 2rem;
	font-weight: bold;
}

.links {
	display: none;
}